@charset "utf-8";

/*
    Paleta de cores:
    #E1C095
    #A58258
    #ACC8DD
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #A58258;
    min-height: 100vh;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);

    transition: width 2s, height 1s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #A58258 url('../imagens/pexels-reyyan-505450018-30854646.jpg') no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #ACC8DD;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0;
}

form > label {
    visibility: hidden;
    position: absolute;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #ACC8DD;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form > input[type=submit]:hover {
    background-color: #A58258;
}

form > input[type=submit]:active {
    background-color: #8A6D4F;
}

form a.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px; /* Espaço entre o texto e o ícone */
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: yellow;
    color: #A58258;
    border: 1px solid #cccc00;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

form a.botao:hover {
    background-color: #E1C095;
    color: white;
}

form a.botao i {
    font-size: 1.2em;
}
